<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, userInfo-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main</title>

</head>
<body>
<!-- navigation -->
<div>
    <h1> My Diary </h1>
    <nav id="topMenu" >
        <ul>
            <li><a class="menuLink" href="#">My Diary</a></li>
            <li><a class="menuLink" href="#">Friend's Diary</a></li>
            <li><a class="menuLink" href="#">My Info</a></li>
            <li><a class="menuLink" href="#">About developer</a></li>
        </ul>
    </nav>
</div>
