<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href = "../CSS/main_without_Login.css" rel ="stylesheet" type ="text/css" />
    <script src="../../../java/com/example/fristTest/LoginScript.js"></script>
</head>
<body>
<h1> My Diary </h1>
<h2>{{UserName}}</h2>

<nav id="topMenu" >
    <ul>
        <li><a class="menuLink" href="#">My Diary</a></li>
        <li><a class="menuLink" href="#">Friend's Diary</a></li>
        <li><a class="menuLink" href="#">My Info</a></li>
        <li><a class="menuLink" href="#">About developer</a></li>
    </ul>
</nav>
<br><br>
<form id="LoginForm" action="#" accept-charset="UTF-8" name="LogInInfo" method="get" style="float: right;">
    <fieldset style="width:550px;" align="right">
        <legend>Log in</legend>
        ID : <input type="text" name="ID" >
        PassWord : <input type="password" name="PassWord">
        <input type="button" value="확인" onclick="Login()"/>
    </fieldset>
</form>
</body>
</html>

